.container {
  max-width: 1170px;
  width: 95%;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #262626;
  font-family: 'Proxima Nova Light', sans-serif;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

h3 {
  font-size: 22px;
}

.section {
  padding: 90px 0;
}

.section-title {
  margin-bottom: 90px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button-o {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 22px;
  border: 2px solid #507fe1;
  background-color: transparent;
  font-size: 12px;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.button-o:hover {
  background-color: #507fe1;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-o:active {
  background-color: #4375df;
}

.button {
  padding: 20px 45px;
  border: none;
  background-color: #507fe1;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #3f72de;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:active {
  background-color: #3269dc;
}

.form__checkbox input[type="checkbox"] {
  opacity: 0;
}

.form__checkbox input[type="checkbox"] + label::after {
  content: none;
}

.form__checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  -webkit-transition: 0.5;
  transition: 0.5;
}

.form__checkbox input[type="checkbox"]:focus + label::before {
  outline: #3b7bfc auto 5px;
}

.form__checkbox label {
  position: relative;
  margin-left: 20px;
  margin-right: 40px;
}

.form__checkbox label::before {
  position: absolute;
  top: -5px;
  left: -37px;
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
}

.form__checkbox label::after {
  position: absolute;
  top: 0px;
  left: -32px;
  content: "";
  display: inline-block;
  height: 12px;
  width: 18px;
  border-left: 4px solid #507fe1;
  border-bottom: 4px solid #507fe1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .section {
    padding: 70px 0;
  }
  .section-title {
    margin-bottom: 70px;
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 50px 0;
  }
  .section-title {
    margin-bottom: 50px;
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 30px 0;
  }
  .section-title {
    margin-bottom: 40px;
    font-size: 24px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(81, 11, 186, 0.1);
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  min-height: 80px;
  width: 90px;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  outline: none;
  cursor: pointer;
}

.navbar__menu-button span {
  position: relative;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #89a9eb;
}

.navbar__menu-button span:before, .navbar__menu-button span:after {
  position: absolute;
  display: block;
  width: 25px;
  height: 3px;
  background-color: #89a9eb;
  content: '';
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar__menu-button span:before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.navbar__menu-button span:after {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.navbar__menu-button_active span {
  height: 0;
}

.navbar__menu-button_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar__menu-button_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar__menu-button:hover .navbar__menu-button span {
  background-color: #507fe1;
}

.navbar__main-text {
  display: block;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar__sub-text {
  display: block;
  margin-right: 15px;
  text-align: right;
  font-size: 14px;
  color: #6b6b6b;
}

.navbar__logo {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.navbar__logo_main-text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar__logo_sub-text {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  opacity: 0;
}

.menu__active {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.menu__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__link:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media (max-width: 1200px) {
  .navbar__logo {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
  .navbar__button {
    padding: 17px 5px;
  }
  .menu {
    padding: 12px 0;
  }
  .menu__link {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .navbar__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__logo {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
  .navbar__logo_main-text {
    font-size: 16px;
  }
  .navbar__logo_sub-text {
    font-size: 12px;
  }
  .navbar__main-text {
    font-size: 14px;
  }
  .navbar__sub-text {
    font-size: 12px;
  }
  .navbar__menu-button {
    width: 60px;
    min-height: 60px;
    margin-right: 10px;
  }
  .navbar__button {
    width: 20%;
    padding: 10px 5px;
  }
  .menu {
    top: 60px;
  }
  .menu__link {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: static;
  }
  .navbar__sub-text, .navbar__main-text {
    display: none;
  }
  .navbar__button {
    width: 40%;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
  }
  .menu__link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .navbar__menu-button {
    border: none;
  }
  .navbar__logo {
    margin-right: 10px;
  }
  .navbar__logo_main-text {
    font-size: 16px;
  }
  .navbar__logo_sub-text {
    display: none;
  }
  .navbar__button {
    max-width: 50%;
  }
}

.hero {
  background: #fff url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  padding-top: 120px;
  padding-bottom: 270px;
}

.hero__wrapper {
  margin-left: 100px;
}

.hero__title {
  max-width: 300px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #262626;
}

.hero__subtitle {
  display: block;
  margin-bottom: 65px;
  color: #262626;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 200px;
  }
}

@media (max-width: 992px) {
  .hero {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .hero__wrapper {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .hero__wrapper {
    margin-left: 0;
  }
  .hero__title {
    max-width: 250px;
    margin-bottom: 25px;
    font-size: 28px;
  }
  .hero__subtitle {
    margin-bottom: 45px;
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 40px;
    background-position: -360px 0;
  }
  .hero__title {
    max-width: 100%;
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
  }
  .hero__subtitle {
    margin-bottom: 45px;
    text-align: center;
    font-size: 28px;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}

.offer {
  position: relative;
  min-height: 400px;
  padding-bottom: 130px;
  background-color: #f7f4ed;
}

.offer_bg-white {
  background-color: #fff;
  padding-bottom: 0;
}

.offer__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -120px;
  width: 95%;
  max-width: 1170px;
  padding: 80px;
  background: #fff url("../img/offer/bg-form-calc.jpg") no-repeat center right;
  background-size: contain;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.offer__block_price {
  background: #fff url("../img/offer/bg-form-price.jpg") no-repeat center right;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.offer__subtitle {
  display: block;
  margin-bottom: 45px;
  max-width: 770px;
  font-size: 20px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin-bottom: 15px;
  font-size: 17px;
}

.form__group {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #dddddd;
  border-right: none;
}

.form__button {
  display: inline-block;
  height: 80px;
  width: 100%;
  white-space: pre-line;
}

.form__button_price {
  padding: 20px;
}

.form__span {
  margin-left: 20px;
}

.form__row:first-child .form__group:last-child .form__input, .form__row:last-child .form__group:nth-child(2) .form__input {
  border-right: 1px solid #dddddd;
}

@media (max-width: 1200px) {
  .offer__block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 95%;
    padding: 60px;
    background-position: center right -60px;
  }
  .offer__subtitle {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .offer {
    position: static;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .offer__block {
    position: static;
    padding: 20px 40px;
    margin: 0 auto;
    width: 90%;
    background-image: none;
  }
  .form__input {
    height: 60px;
  }
  .form__row:nth-child(3) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__row:nth-child(3) .form__group {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .form__row:nth-child(3) .form__input {
    margin-bottom: 20px;
  }
  .form__row_last .form__group {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .form__row_last .form__input {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .offer {
    padding-bottom: 60px;
  }
  .offer__block {
    padding: 10px 30px;
  }
  .offer__title {
    text-align: center;
    font-size: 20px;
  }
  .offer__subtitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .form__row_checkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 35px;
    font-size: 15px;
  }
  .form__row_last {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__row_last .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 15px;
  }
  .form__input {
    border: 1px solid #dddddd;
  }
  .form__span {
    margin-left: 0;
  }
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  margin-bottom: 110px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.features__text {
  padding: auto 20%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .features__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.catalog {
  background-color: #f7f4ed;
}

.catalog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  max-width: 550px;
  margin: 5px;
}

.catalog__item:hover .catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.catalog__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: rgba(80, 127, 225, 0.6);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.catalog__button {
  padding: 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog__button_fitting {
  background-color: #fff;
  color: #507fe1;
}

.catalog__button_fitting:hover {
  color: #163982;
}

.catalog__button_order {
  background-color: #7c9fe8;
  color: #ffffff;
}

.catalog__button_order:hover {
  background-color: #507fe1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.catalog__button_like {
  background-color: #507fe1;
}

.catalog__button_like:hover {
  background-color: #3a6fdd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1200px) {
  .catalog__item {
    max-width: 1150px;
    margin: 5px auto;
  }
}

@media (max-width: 480px) {
  .catalog__tag {
    left: 5px;
    top: 5px;
  }
  .catalog__tag, .catalog__button {
    padding: 4px;
    font-size: 10px;
  }
}

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__item {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  margin: 20px auto;
}

.blog__item:hover {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.blog__text {
  margin: 30px auto;
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .blog__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog__item {
    margin: 25px 90px;
  }
}

@media (max-width: 992px) {
  .blog__item {
    margin: 25px 40px;
  }
}

@media (max-width: 768px) {
  .blog__heading {
    display: block;
    text-align: center;
  }
  .blog__item {
    margin: 20px 10px;
  }
}

@media (max-width: 768px) {
  .blog__item {
    max-width: 80%;
  }
  .blog__text {
    margin: 15px auto;
  }
}

.price__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__item {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.price__item:hover .price__button {
  display: block;
  z-index: 99;
}

.price__tag {
  margin: auto 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.price__button {
  display: none;
  position: absolute;
  padding-top: 15px;
  background-color: #fff;
  height: 80px;
  width: 100%;
  z-index: -1;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.price__pricetag {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 1200px) {
  .price__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .price__item {
    margin: 25px 90px;
  }
}

@media (max-width: 992px) {
  .price__item {
    margin: 25px 40px;
  }
}

@media (max-width: 768px) {
  .price__item {
    margin: 20px 10px;
  }
}

@media (max-width: 768px) {
  .price__item {
    max-width: 80%;
  }
}

.steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps__item {
  position: relative;
  text-align: center;
}

.steps__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 18%;
  left: 59%;
  height: 2px;
  width: 100%;
  background-color: #ccc;
}

.steps__item:last-child:before {
  display: none;
}

.steps__title {
  font-size: 20px;
}

.steps__text {
  margin: auto;
  max-width: 170px;
}

@media (max-width: 1200px) {
  .steps__item {
    margin: 20px auto;
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .steps__item:before {
    display: none;
  }
  .steps__title {
    margin: 10px auto;
  }
}

@media (max-width: 992px) {
  .steps {
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .steps__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .steps__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.reviews {
  background-color: #f7f4ed;
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
}

.reviews__text {
  position: relative;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  font-style: italic;
  background-color: #fff;
  border-radius: 10px;
}

.reviews__text p {
  margin: 0;
}

.reviews__text:before {
  position: absolute;
  content: "";
  bottom: -24%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 20px solid transparent;
  border-top: 20px solid white;
}

.reviews__image {
  border-radius: 50%;
}

.reviews__name {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.factory__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.factory__image {
  margin: 0;
  margin-top: 20px;
}

.factory__description {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-left: 40px;
  font-size: 18px;
}

@media (max-width: 992px) {
  .factory__description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .factory__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .factory__image {
    margin: auto;
    max-width: 90%;
  }
  .factory__description {
    margin: 20px;
    font-size: 16px;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list a {
  text-decoration: none;
}

.contacts__item {
  margin-bottom: 40px;
}

.contacts__image {
  margin-bottom: 20px;
}

.contacts__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.contacts__questions-item {
  margin: 40px 80px;
}

.contacts__title {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.contacts__link {
  font-size: 20px;
}

@media (max-width: 768px) {
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__questions-item {
    margin: 10px auto;
  }
}

@media (max-width: 480px) {
  .contacts__questions-item {
    margin: 5px auto;
  }
}

.footer {
  background-color: #1a1a1a;
  color: #fff;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 0;
}

.footer__logo {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer__main-text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.footer__sub-text {
  display: block;
  margin-bottom: 40px;
  font-size: 14px;
}

.footer__email {
  margin-bottom: 20px;
}

.footer__copy {
  font-size: 14px;
  color: #767676;
}

.footer__payway {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.footer__payway img {
  margin: 0 5px;
}

.footer__contacts {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: right;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social img {
  margin: 0;
  margin-left: 20px;
}

@media (max-width: 992px) {
  .footer_main-text {
    font-size: 16px;
  }
  .footer_sub-text {
    font-size: 12px;
  }
  .footer__social img {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__sub-text {
    margin-bottom: 5px;
  }
  .footer__payway {
    margin-bottom: 20px;
  }
  .footer__contacts {
    text-align: center;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__social img {
    width: 200%;
    height: 200%;
    margin: 5px;
  }
}

.before {
  padding-bottom: 200px;
}

.before__wrap {
  position: relative;
  z-index: 99;
  margin: auto;
  width: 640px;
  height: 400px;
}

.before__slider-arrows {
  position: absolute;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.before__slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
}

.before__slider-dots li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 10px;
  height: 10px;
  margin: auto 10px;
  background-color: #ccc;
  border-radius: 50%;
}

.before__slider-dots li.slick-active {
  background-color: #507fe1;
}

.before__slider button {
  display: none;
}

.arrow {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.arrow-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.arrow-right_symbol {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.arrow-left_symbol {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.arrow_symbol {
  display: block;
  height: 30px;
  width: 30px;
  border-right: 3px solid #ccc;
  border-top: 3px solid #ccc;
}

.arrow_symbol:hover {
  border-color: #aaa;
}
/*# sourceMappingURL=style.css.map */