.container {
  max-width: 1170px;
  width: 95%;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #262626;
  font-family: 'Proxima Nova Light', sans-serif;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.section {
  padding: 100px 0;
}

.section-title {
  margin-bottom: 100px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.button-o {
  padding: 17px 22px;
  border: 2px solid #507fe1;
  background-color: transparent;
  font-size: 12px;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
}

.button {
  padding: 20px 45px;
  border: none;
  background-color: #507fe1;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
}

.form__checkbox input[type="checkbox"] {
  opacity: 0;
}

.form__checkbox input[type="checkbox"] + label::after {
  content: none;
}

.form__checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  -webkit-transition: 0.5;
  transition: 0.5;
}

.form__checkbox input[type="checkbox"]:focus + label::before {
  outline: #3b7bfc auto 5px;
}

.form__checkbox label {
  position: relative;
  margin-left: 20px;
  margin-right: 40px;
}

.form__checkbox label::before {
  position: absolute;
  top: -5px;
  left: -37px;
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
}

.form__checkbox label::after {
  position: absolute;
  top: 0px;
  left: -32px;
  content: "";
  display: inline-block;
  height: 12px;
  width: 18px;
  border-left: 4px solid #507fe1;
  border-bottom: 4px solid #507fe1;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .section {
    padding: 80px 0;
  }
  .section-title {
    margin-bottom: 80px;
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 60px 0;
  }
  .section-title {
    margin-bottom: 60px;
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 45px 0;
  }
  .section-title {
    margin-bottom: 45px;
    font-size: 24px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid rgba(81, 11, 186, 0.1);
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  min-height: 80px;
  width: 90px;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
}

.navbar__menu-button_line {
  display: block;
  margin: 4px 0;
  width: 25px;
  height: 3px;
  background-color: #89a9eb;
}

.navbar__main-text {
  display: block;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar__sub-text {
  display: block;
  margin-right: 15px;
  text-align: right;
  font-size: 14px;
  color: #6b6b6b;
}

.navbar__logo {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.navbar__logo_main-text {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.navbar__logo_sub-text {
  display: block;
  font-size: 14px;
  color: #6b6b6b;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  -webkit-transition: 0.2;
  transition: 0.2;
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
  opacity: 0;
}

.menu__active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-size: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .navbar__logo {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
  .navbar__button {
    padding: 17px 5px;
  }
  .menu {
    padding: 12px 0;
  }
  .menu__link {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .navbar__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__logo {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
  .navbar__logo_main-text {
    font-size: 16px;
  }
  .navbar__logo_sub-text {
    font-size: 12px;
  }
  .navbar__main-text {
    font-size: 14px;
  }
  .navbar__sub-text {
    font-size: 12px;
  }
  .navbar__menu-button {
    width: 60px;
    min-height: 60px;
    margin-right: 10px;
  }
  .navbar__button {
    width: 20%;
    padding: 10px 5px;
  }
  .menu__link {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: static;
  }
  .navbar__sub-text, .navbar__main-text {
    display: none;
  }
  .navbar__button {
    width: 40%;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
  }
  .menu__link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .navbar__menu-button {
    border: none;
  }
  .navbar__logo {
    margin-right: 10px;
  }
  .navbar__logo_main-text {
    font-size: 16px;
  }
  .navbar__logo_sub-text {
    display: none;
  }
  .navbar__button {
    max-width: 50%;
  }
}

.hero {
  background: #fff url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 80px;
  padding-top: 120px;
  padding-bottom: 270px;
}

.hero__title {
  max-width: 300px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #262626;
}

.hero__subtitle {
  display: block;
  margin-bottom: 65px;
  color: #262626;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 1200px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 200px;
  }
}

@media (max-width: 992px) {
  .hero {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .hero__title {
    max-width: 250px;
    margin-bottom: 25px;
    font-size: 28px;
  }
  .hero__subtitle {
    margin-bottom: 45px;
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 40px;
    background-position: -360px 0;
  }
  .hero__title {
    max-width: 100%;
    margin-bottom: 25px;
    text-align: center;
    font-size: 28px;
  }
  .hero__subtitle {
    margin-bottom: 45px;
    text-align: center;
    font-size: 28px;
  }
  .button {
    display: block;
    margin: 0 auto;
  }
}

.offer {
  position: relative;
  min-height: 400px;
  padding-bottom: 130px;
  background-color: #f7f4ed;
}

.offer__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: -120px;
  width: 95%;
  max-width: 1170px;
  padding: 80px;
  background: #fff url("../img/offer/bg-form.jpg") no-repeat center right;
  background-size: contain;
}

.offer__title {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.offer__subtitle {
  display: block;
  margin-bottom: 45px;
  font-size: 20px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
  margin-bottom: 25px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__label {
  display: block;
  margin-bottom: 15px;
  font-size: 17px;
}

.form__group {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

.form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #dddddd;
  border-right: none;
}

.form__button {
  height: 80px;
  width: 100%;
}

.form__row:first-child .form__group:last-child .form__input, .form__row:last-child .form__group:nth-child(2) .form__input {
  border-right: 1px solid #dddddd;
}

@media (max-width: 1200px) {
  .offer__block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 95%;
    padding: 60px;
    background-position: center right -60px;
  }
}

@media (max-width: 992px) {
  .offer {
    position: static;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .offer__block {
    position: static;
    padding: 20px 40px;
    margin: 0 auto;
    width: 90%;
    background-image: none;
  }
  .form__input {
    height: 60px;
  }
  .form__row:last-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__row:last-child .form__group {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .form__row:last-child .form__input {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .offer {
    padding-bottom: 60px;
  }
  .offer__block {
    padding: 10px 30px;
  }
  .offer__title {
    text-align: center;
    font-size: 20px;
  }
  .offer__subtitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .form__row:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 35px;
  }
  .form__group {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 15px;
  }
  .form__input {
    border: 1px solid #dddddd;
  }
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  margin-bottom: 110px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}

.features__text {
  padding: auto 20%;
  font-size: 18px;
}

@media (max-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .features__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
}

.catalog {
  background-color: #f7f4ed;
}

.catalog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  max-width: 570px;
  margin: 5px;
}

.catalog__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: rgba(80, 127, 225, 0.6);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.catalog__button {
  padding: 10px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.catalog__button_fitting {
  background-color: #fff;
  color: #507fe1;
}

.catalog__button_order {
  background-color: #7c9fe8;
  color: #ffffff;
}

.catalog__button_like {
  background-color: #507fe1;
}

.catalog__button_like img {
  height: 20px;
  width: 20px;
}
/*# sourceMappingURL=style.css.map */