body
   box-sizing: border-box
   color: $text-color
   +light

img
   max-width: 100%

.section
   padding: 100px 0
   &-title
      margin-bottom: 100px
      text-transform: uppercase
      text-align: center
      font-size: 30px
      +bold

.button-o
   padding: 17px 22px
   border: 2px solid $primary
   background-color: transparent
   font-size: 12px
   color: $primary
   +bold
   text-transform: uppercase

.button
   padding: 20px 45px
   border: none
   background-color: $primary
   font-size: 15px
   color: #ffffff
   +bold
   text-transform: uppercase

.form__checkbox 
   & input[type="checkbox"]
      opacity: 0
      &+label::after
         content: none
      &:checked+label::after
         content: ""
         transition: 0.5
      &:focus+label::before
         outline: rgb(59, 123, 252) auto 5px
   & label
      position: relative
      margin-left: 20px
      margin-right: 40px
      &::before
         position: absolute
         top: -5px
         left: -37px
         content: ''
         display: inline-block
         width: 30px
         height: 30px
         border: 1px solid #dddddd
      &::after
         position: absolute
         top: 0px
         left: -32px
         content: ""
         display: inline-block
         height: 12px
         width: 18px
         border-left: 4px solid $primary
         border-bottom: 4px solid $primary
         transform: rotate(-45deg)
   

@media (max-width: 1200px)
   .section
      padding: 80px 0
      &-title
         margin-bottom: 80px
         font-size: 28px

@media (max-width: 992px)
   .section
      padding: 60px 0
      &-title
         margin-bottom: 60px
         font-size: 26px

@media (max-width: 768px)
   .section
      padding: 45px 0
      &-title
         margin-bottom: 45px
         font-size: 24px
